Options -Indexes


<IfModule mod_rewrite.c>

Options +FollowSymLinks
RewriteEngine on
RewriteRule ^pagos_mes$ /honorarios/vista/pagos_mes.php [L]
RewriteRule ^facturas_pendientes$ /honorarios/vista/facturas_pendientes.php [L]
RewriteRule ^facturas_mes$ /honorarios/vista/facturas_mes.php [L]
RewriteRule ^login$ /honorarios/vista/login.html [L]
RewriteRule ^contrasena$ /honorarios/vista/contrasena.html [L]
RewriteRule ^sesion$ /honorarios/controlador/sesion/sesion.php [L]
RewriteRule ^facturas_buscar$ /honorarios/vista/facturas_buscar.php [L]
RewriteRule ^cpt$ /honorarios/vista/cpt.php [L]
RewriteRule ^prealta$ /honorarios/vista/prealta.php [L]
RewriteRule ^inicio$ /honorarios/vista/inicio.php [L]
RewriteRule ^estado_cuenta$ /honorarios/vista/estado_cuenta.php [L]
RewriteRule ^descuento_honorario$ /honorarios/vista/descuento_honorario.php [L]
</IfModule>
