.overlay{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     z-index:100000;
     opacity:.75;
     -moz-opacity: 0.75;
     filter: alpha(opacity=75);
}


.preloader {
     display: none;
     border-radius: 40px;
     box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
     position: fixed;
     top: 38%;
     left: 43%;
     width: auto;
     height:auto;
     background: #fff;
     padding: 5px;
     color: #333;
     z-index:1000000;
     overflow: auto;
}

.preloader_modal {
     display: none;
     width: auto;
     height:auto;
     background: #fff;
     padding: 5px;
     color: #333;
     z-index:1000000;
     overflow: auto;
}

@media only screen and (max-width: 1000px) {

     .overlay  {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 2000px;
     background: #000;
     z-index:10000;
     opacity:.75;
     -moz-opacity: 0.75;
     filter: alpha(opacity=75);
     }

     .preloader {
          display: none;
          border-radius: 40px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
          position: fixed;
          top: 38%;
          left: 30%;
          min-width: 228px;
          min-height: 80px;
          width: 40%;
          height:11%;
          background: #fff;
          padding: 5px;
          color: #333;
          z-index:1000000;
          overflow: auto;
     }
}

@media only screen and (max-width: 500px) {
     .overlay  {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 2000px;
     background: #000;
     z-index:10000;
     opacity:.75;
     -moz-opacity: 0.75;
     filter: alpha(opacity=75);
     }

     .preloader {
          display: none;
          border-radius: 40px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
          position: fixed;
          top: 38%;
          left: 20%;
          min-width: 228px;
          min-height: 70px;
          width: 40%;
          height:11%;
          background: #fff;
          padding: 5px;
          color: #333;
          z-index:1000000;
          overflow: auto;
     }
}
